<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.argin.mapper.StudentMapper">
    <select id="findAll" resultType="io.argin.bean.Student">
        select s.*, t.t_name teacher from student s join s_teacher t on s.tid = t.t_id
    </select>
</mapper>