<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--  自带日志实现  -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <plugins>
        <!--  通用mapper  -->
        <plugin interceptor="com.github.abel533.mapperhelper.MapperInterceptor">
            <property name="identity" value="mysql"/>
            <property name="mappers" value="com.github.abel533.mapper.Mapper"/>
        </plugin>
    </plugins>

</configuration>